.green-btn {
    background-color: var(--c-green);
    color: white;
    border-color: var(--c-green);
}

.green-btn:hover {
    background-color: var(--c-khaki);
    color: var(--c-green);
    border-color: var(--c-green);
}

.green-btn:active {
    background-color: var(--c-khaki) !important;
    color: var(--c-green) !important;
    border-color: var(--c-green) !important;
}

.green-btn:disabled {
    background-color: var(--c-gray);
    border-color: var(--c-gray);
}

