@import "../../styles";

.header-search-group {
	background-color: var(--c-gray);
}

.header-search-item {
	background-color: transparent !important;
	border: none;
	outline: none;
}

.header-search-filter-list {
	background-color: var(--c-gray);
}

.header-btn {
	background-color: var(--c-green);
}

.header-btn:hover {
	background-color: var(--c-green);
}

.header-btn:active {
	background-color: var(--c-green) !important;
}

.header-filter-select-option {
	background-color: var(--c-gray);
}

.search-btn {
	background-color: var(--c-gray);
}

.search-btn:hover {
	background-color: var(--c-gray);
}

.search-btn:active {
	background-color: var(--c-gray) !important;
}

.pagination-item:hover {
	cursor: pointer;
	background-color: var(--c-gray);
}

.pagination-item.active {
	background-color: var(--c-green) !important;
	color: white !important;
}
