body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--c-custom-white);
    font-family: Arial, sans-serif;
}

main {
    margin-top: 15px;
    margin-bottom: 15px;
    flex-grow: 1;
}

footer {
    margin-top: auto;
}

a {
    text-decoration: none;
    color: var(--c-green);
    font-weight: bold;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
    appearance: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
