.disable-day-picker-btn {
    background-color: var(--c-custom-white);
}

.enable-day-picker-btn {
    background-color: var(--c-green);
    color: white;
    border: 1px solid var(--c-green);
}

.disable-day-picker-btn:hover {
    background-color: var(--c-custom-white);
}

.enable-day-picker-btn:hover {
    background-color: var(--c-green);
    color: white;
    border: 1px solid var(--c-green);
}
