@import "base.css";

.btn-check:checked + .btn {
	border-color: var(--c-green);
	background-color: var(--c-khaki);
	color: var(--c-green);
}

.btn-check + .btn {
	background-color: var(--c-gray);
}

.btn-check + .btn:hover {
	background-color: var(--c-gray);
}

.btn-check:checked + .btn:hover {
	background-color: var(--c-khaki);
}

.signup-btn {
	background-color: var(--c-gray) !important;
}

.signup-btn:hover {
	background-color: var(--c-khaki) !important;
	color: var(--c-green);
	border-color: var(--c-green);
}

.signup-btn:disabled {
	opacity: 0.6;
	border-color: transparent;
}