@import "base.css";

.signup-card {
	background: white;
	border-radius: 10px;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
	width: 400px;
}

.form-control {
	border-radius: 8px;
}

.password-toggle {
	position: absolute;
	right: 15px;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
	color: #777;
}

.btn-check:checked + .btn {
	border-color: var(--c-green);
	background-color: var(--c-khaki);
	color: var(--c-green);
}

.btn-check + .btn {
	background-color: var(--c-gray);
}

.btn-check + .btn:hover {
	background-color: var(--c-gray);
}

.btn-check:checked + .btn:hover {
	background-color: var(--c-khaki);
}

.signup-btn {
	background-color: var(--c-gray) !important;
}

.signup-btn:hover {
	background-color: var(--c-khaki) !important;
	color: var(--c-green);
	border-color: var(--c-green);
}

.signup-btn:disabled {
	opacity: 0.6;
	border-color: transparent;
}